<h2> Hello Word! </h2>

<span class="badge badge-secondary">Thanks Yaro! It works!</span>
<br/>

<%= link_to courses_path, class: 'btn btn-outline-success' do %>
  <div class="fa fa-book-open"></div>
  Course
<% end %>
<br/>
<br/>

<i class="fas fa-flag"></i>
<i class="far fa-address-book"></i>
<i class="fab fa-github"></i>
