<h1>Courses available: <%= @courses.count %></h1>

<div class="card-columns">
  <% @courses.each do |course| %>
    <%= render 'courses/course', course:  course %>
  <% end %>
</div>
<br/>

<br>
<%= link_to root_path, class: 'btn btn-success' do %>
  <div class="fa fa-home"></div>
  Homepage
<% end %>
<br/>
<%= link_to 'New Course', new_course_path, class: 'btn btn-outline-primary' %>
